{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 >Create Work</h1>
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Create Work</legend>
          {{ form.category|as_crispy_field }}
          {{ form.source|as_crispy_field }}
          {{ form.notes|as_crispy_field }}
          {{ form.location|as_crispy_field }}
          {{ form.value|as_crispy_field }}
          {{ form.title|as_crispy_field }}
          {{ form.series|as_crispy_field }}
          {{ form.date_year|as_crispy_field }}
          {{ form.medium|as_crispy_field }}
          {{ form.signature_and_writing|as_crispy_field }}
          {{ form.condition|as_crispy_field }}
          {{ form.height|as_crispy_field }}
          {{ form.width|as_crispy_field }}
          {{ form.depth|as_crispy_field }}
          {{ form.size_note|as_crispy_field }}
          {{ form.file1|as_crispy_field }}
          {{ form.file2|as_crispy_field }}
          {{ form.file3|as_crispy_field }}
          {{ form.file4|as_crispy_field }}
          {{ form.file5|as_crispy_field }}

        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Create</button>
          <a href = "{% url 'home_works' %}" class="btn btn-outline-info">Cancel</a>
        </div>
      </form>
    </div>
{% endblock content %}