{% extends "base.html" %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <div class="container">
         <div class="row">
            <div class="col-md-5">
              <form method="POST" enctype="multipart/form-data">
                <a class="btn btn-outline-secondary m-3 btn-sm"  href="{% url 'create_work' %}">Create new Work</a>
                {% csrf_token %}
                  {{ form }}
                  <button type="submit"><i class="fas fa-search fa-xs"></i></button>
                  <a href="{% url 'clear_work' %}"><i class="fas fa-backspace fa-xs"></i></a>
              </form>
            </div>
            <div class="col-md-6">
                {% include "./pages.html" %}
            </div>
        </div>
    </div>
    <table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            {% for col in cols %}
                {% if "file" not in col %}
                <th nowrap><a  class="mb-1" href="{% url 'sort_work' col %}"><i class="fas fa-sort-up"></i></a>
                    {{ col }}
                <a  class="mb-1" href="{% url 'reverse_sort_work' col %}"><i class="fas fa-sort-down"></i></a></th>
                {% else %}
                    <th></th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>

      {% for work in works %}
          <tr height="35px">
            <td><a class="mb-1" href="{% url 'view_work' work.id %}"><i class="fas fa-eye"></i></a></td>
            <td><a class="mb-1" href="{% url 'edit_work' work.id %}"><i class="fas fa-edit"></i></a></td>
            <td><a class="mb-1 me-2" href="{% url 'delete_work' work.id %}"><i class="fas fa-trash"></i></a></td>
            <td>{{ work.id }}</td>
            <td>{{ work.item_id }}</td>
            <td nowrap>{{ work.get_source_display }}</td>
            <td><div class="truncate">{{ work.notes|default_if_none:'' }}</div></td>
              <td><div class="truncate">{{ work.location|default_if_none:''  }}</div></td>
              <td>{{ work.value|default_if_none:'' }}</td>
              <td>{{ work.inventory_date | date:"Y-m-d" }}</td>
              <td><div class="truncate">{{ work.title|default_if_none:'' }}</div></td>
              <td><div class="truncate">{{ work.series|default_if_none:'' }}</div></td>
              <td>{{ work.date_year }}</td>
              <td><div class="truncate">{{ work.medium|default_if_none:'' }}</div></td>
              <td><div class="truncate">{{ work.signature_and_writing|default_if_none:'' }}</div></td>
              <td><div class="truncate">{{ work.condition|default_if_none:'' }}</div></td>
              <td nowrap>{{ work.get_category_display }}</td>
              <td>{{ work.height|default_if_none:""  }}</td>
              <td>{{ work.width|default_if_none:""  }}</td>
              <td>{{ work.depth|default_if_none:""  }}</td>
              <td><div class="truncate">{{ work.size_note|default_if_none:'' }}</div></td>
              {% if work.file1 %}
              <td>
                  <button type="button" class="btn bg-transparent" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}{{work.file1}}">
                      <img height="30px" src="{% static 'thumbs/'%}{{work.file1}}"/>
                  </button>
              </td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file2 %}
              <td>
                  <button type="button" class="btn bg-transparent" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}{{work.file2}}">
                  <img height="30px" src="{% static 'thumbs/'%}{{work.file2}}"/>
                  </button>
              </td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file3 %}
              <td>
                  <button type="button" class="btn bg-transparent" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}{{work.file3}}">
                  <img height="30px" src="{% static 'thumbs/'%}{{work.file3}}"/>
                  </button>
              </td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file4 %}
              <td>
                  <button type="button" class="btn bg-transparent" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}{{work.file4}}">
                  <img height="30px" src="{% static 'thumbs/'%}{{work.file4}}"/>
                  </button>
              </td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file5 %}
              <td>
                  <button type="button" class="btn bg-transparent" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}{{work.file5}}">
                  <img height="30px" src="{% static 'thumbs/'%}{{work.file5}}"/>
                  </button>
              </td>
              {% else %}
                 <td></td>
              {% endif %}
          </tr>
      {% endfor %}
    </table>

{% include "./pages.html" %}

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog role="document">
    <div class="modal-content">
<!--      <div class="text-center">-->
        <img height="400px" class="modal-body" src="">
<!--      </div>-->
    </div>
  </div>
</div>

<script>
  $('#imageModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var image_id = button.data('image_id') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-body').attr("src", image_id)
})

</script>

{% endblock content %}