{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Trigger the Modal -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}AT.P.36.jpg"><img  height="70px" src="{% static 'thumbs/'%}AT.P.36.jpg"></button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}AT.P.37.jpg"><img height="70px"  src="{% static 'thumbs/'%}AT.P.37.jpg"></button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}AT.P.38.jpg"><img  height="70px" src="{% static 'thumbs/'%}AT.P.38.jpg"></button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal" data-image_id="{% static 'thumbs/'%}AT.P.39.jpg"><img height="70px"  src="{% static 'thumbs/'%}AT.P.39.jpg"></button>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog role="document">
    <div class="modal-content">
<!--      <div class="text-center">-->
        <img class="modal-body" src="">
<!--      </div>-->
    </div>
  </div>
</div>

<script>
  $('#imageModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var image_id = button.data('image_id') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-body').attr("src", image_id)
})

</script>

{% endblock content %}