{% extends "base.html" %}
{% load static %}
{% block content %}
    <a class="btn btn-secondary" href="{% url 'home_works' %}">Return</a>
    {% if last > 0 %}
        <a class="btn btn-secondary" href="{% url 'view_work' last %}">Previous</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'view_work' next %}">Next</a>
    <div class="container">
        <div class="row">
            <div class="col-3">Item id:</div><div class="col-9">{{ work.item_id }}</div>
            <div class="col-3">Category:</div><div class="col-9">{{ work.get_category_display }}</div>
            <div class="col-3">Source:</div><div class="col-9">{{ work.get_source_display }}</div>
            <div class="col-3">Notes:</div><div class="col-9">{{ work.notes }}</div>
            <div class="col-3">Location:</div><div class="col-9">{{ work.location }}</div>
            <div class="col-3">Value:</div><div class="col-9">{{ work.value|default_if_none:"" }}</div>
            <div class="col-3">Inventory Date:</div><div class="col-9">{{ work.inventory_date }}</div>
            <div class="col-3">Title:</div><div class="col-9">{{ work.title }}</div>
            <div class="col-3">Series:</div><div class="col-9">{{ work.series }}</div>
            <div class="col-3">Date Year:</div><div class="col-9">{{ work.date_year }}</div>
            <div class="col-3">Medium:</div><div class="col-9">{{ work.medium }}</div>
            <div class="col-3">Signature:</div><div class="col-9">{{ work.signature_and_writing }}</div>
            <div class="col-3">Condition:</div><div class="col-9">{{ work.condition }}</div>
            <div class="row">
                <div class="col-3">Height:</div><div class="col-1">{{ work.height|default_if_none:"   "  }}</div>
                <div class="col-3">Width:</div><div class="col-1">{{ work.width|default_if_none:"   "  }}</div>
                <div class="col-3">Depth:</div><div class="col-1">{{ work.depth|default_if_none:"   "  }}</div>
            </div>
            <div class="col-3">Size Note:</div><div class="col-9">{{ work.size_note }}</div>
        </div>
          {% if work.file1 %}
              <img width="250px" src="{% static 'thumbs/' %}{{work.file1}}"/>
          {% endif %}
          {% if work.file2 %}
              <img width="250px" src="{% static 'thumbs/'%}{{work.file2}}"/>
          {% endif %}
          {% if work.file3 %}
              <img width="250px" src="{% static 'thumbs/'%}{{work.file3}}"/>
          {% endif %}
          {% if work.file4 %}
              <img width="250px" src="{% static 'thumbs/'%}{{work.file4}}"/>
          {% endif %}
          {% if work.file5 %}
              <img width="250px" src="{% static 'thumbs/'%}{{work.file5}}"/>
          {% endif %}
    </div>
    <a class="btn btn-secondary" href="{% url 'home_works' %}">Return</a>
    {% if last > 0 %}
        <a class="btn btn-secondary" href="{% url 'view_work' last %}">Previous</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'view_work' next %}">Next</a>
{% endblock content %}