{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<style>
  .truncate {
      width: 200px;
      background: #f2f2f2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
</style>
    <H1>Work</H1>
      <form method="POST" enctype="multipart/form-data">
        <a class="btn btn-outline-secondary m-3 btn-sm"  href="{% url 'create-work' %}">Create new Work</a>
        {% csrf_token %}
          {{ form }}
          <button type="submit"><i class="fas fa-search fa-xs"></i></button>
          <a href="{% url 'clear-work' %}"><i class="fas fa-backspace fa-xs"></i></a>
      </form>

    <table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            {% for col in cols %}
                <th nowrap><a  class="mb-1" href="{% url 'sort-work' col %}"><i class="fas fa-sort-up"></i></a>
                    {{ col }}
                    <a  class="mb-1" href="{% url 'reverse-sort-work' col %}"><i class="fas fa-sort-down"></i></a></th>
            {% endfor %}
        </tr>
    </thead>

      {% for work in works %}
          <tr>
            <td><a class="mb-1" href="{% url 'edit-work' work.id %}"><i class="fas fa-edit"></i></a></td>
            <td><a class="mb-1 me-2" href="{% url 'delete-work' work.id %}"><i class="fas fa-trash"></i></a></td>
            <td>{{ work.id }}</td>
            <td>{{ work.item_id }}</td>
            <td nowrap>{{ work.source }}</td>
            <td><div class="truncate">{{ work.notes }}</div></td>
              <td><div class="truncate">{{ work.location }}</div></td>
              <td>{{ work.value|default_if_none:"" }}</td>
              <td>{{ work.inventory_date }}</td>
              <td><div class="truncate">{{ work.title }}</div></td>
              <td><div class="truncate">{{ work.series }}</div></td>
              <td>{{ work.date_year }}</td>
              <td><div class="truncate">{{ work.medium }}</div></td>
              <td><div class="truncate">{{ work.signature_and_writing }}</div></td>
              <td><div class="truncate">{{ work.condition }}</div></td>
              <td>{{ work.category }}</td>
              <td>{{ work.height|default_if_none:""  }}</td>
              <td>{{ work.width|default_if_none:""  }}</td>
              <td>{{ work.depth|default_if_none:""  }}</td>
              <td><div class="truncate">{{ work.size_note }}</div></td>
              {% if work.file1 %}
                  <td><img width="50px" src="{% static 'thumbs/'%}{{work.file1}}"/></td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file2 %}
                  <td><img width="50px" src="{% static 'thumbs/'%}{{work.file2}}"/></td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file3 %}
                  <td><img width="50px" src="{% static 'thumbs/'%}{{work.file3}}"/></td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file4 %}
                  <td><img width="50px" src="{% static 'thumbs/'%}{{work.file4}}"/></td>
              {% else %}
                 <td></td>
              {% endif %}
              {% if work.file5 %}
                  <td><img width="50px" src="{% static 'thumbs/'%}{{work.file5}}"/></td>
              {% else %}
                 <td></td>
              {% endif %}
          </tr>
      {% endfor %}
    </table>

{% endblock content %}