{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Commit</button>
          <a href = "{% url 'home_contacts' %}" class="btn btn-outline-info">Cancel</a>
        </div>
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Commit</button>
          <a href = "{% url 'home_contacts' %}" class="btn btn-outline-info">Cancel</a>
        </div>
      </form>
    </div>

{% endblock content %}