{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 >Edit Contact</h1>
    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Edit</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Commit</button>
          <a href = "{% url 'home_contacts' %}" class="btn btn-outline-info">Cancel</a>
        </div>
      </form>
    </div>

{% endblock content %}