{% extends "base.html" %}
{% block content %}
{% load contacttags %}
    <div class="container">
         <div class="row">
            <div class="col-md-5">
              <form method="POST" enctype="multipart/form-data">
                <a class="btn btn-outline-secondary m-3 btn-sm"  href="{% url 'create_contact' %}">Create new Contact</a>
                {% csrf_token %}
                  {{ form }}
                  <button type="submit"><i class="fas fa-search fa-xs"></i></button>
                  <a href="{% url 'clear_contact' %}"><i class="fas fa-backspace fa-xs"></i></a>
              </form>
          </div>
          <div class="col-md-6">
             {% include "./pages.html" %}
          </div>
        </div>
    </div>
<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            {% for col in cols %}
                <th nowrap><a  class="mb-1" href="{% url 'sort_contact' col %}"><i class="fas fa-sort-up"></i></a>
                    {{ col }}
                    <a  class="mb-1" href="{% url 'reverse_sort_contact' col %}"><i class="fas fa-sort-down"></i></a></th>
            {% endfor %}
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr height="35px">
            {% include "./edit_buttons.html" %}
            <td>{{ contact.id }}</td>
            <td nowrap>{{ contact.title |default_if_none:""}}</td>
            <td><div class="truncate">{{ contact.first_name|default_if_none:"" }}</div></td>
            <td><div class="truncate">{{ contact.last_name|default_if_none:"" }}</div></td>
            <td>{{ contact.phone_number|default_if_none:"" }}</td>
            <td><div class="truncate">{{ contact.email_address|default_if_none:"" }}</div></td>
            <td><div class="truncate">{{ contact.company_name|default_if_none:"" }}</div></td>
            <td><div class="truncate">{{ contact.address|default_if_none:"" }}</div></td>
            <td><div class="truncate">{{ contact.city|default_if_none:"" }}</div></td>
            <td><div class="truncate">{{ contact.country|default_if_none:"" }}</div></td>
            <td class="truncate">{{ contact.state|default_if_none:"" }}</td>
            <td class="truncate">{{ contact.post_code|default_if_none:"" }}</td>
            {% include "./edit_buttons.html" %}
        </tr>
      {% endfor %}
    </tbody>
</table>
    <div class="mt-2">
       {% include "./pages.html" %}
    </div>
{% endblock content %}