{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=2.0">-->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'django_project/main.css' %}">
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
    {% endblock %}
    <title>Django</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon_io/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}"/>
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
              Choose</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'home_chooser' 'contact' %}">Contacts</a>
                <a class="dropdown-item" href="{% url 'home_chooser' 'work' %}">Works</a>
                {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'home_chooser' 'original' %}">Original</a>
                {% endif %}
            </div>
        {% endif %}
      </div>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav ">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="#">{{ request.user.username }} {{ request.session.choice}}</a>
              {% if request.session.choice == "Contacts" %}
                  <a class="nav-item nav-link" href="{% url 'home_contacts' %}">Home</a>
                  <a class="nav-item nav-link" href="#">add:{{ perms.contacts.add_contact }}</a>
                  <a class="nav-item nav-link" href="#">update: {{ perms.contacts.change_contact }}</a>
                  <a class="nav-item nav-link" href="#">delete: {{ perms.contacts.delete_contact }}</a>
              {% elif not request.session.choice or request.session.choice == "Works" %}
                  <a class="nav-item nav-link" href="{% url 'home_works' %}">Home</a>
                  <a class="nav-item nav-link" href="#">add:{{ perms.works.add_work }}</a>
                  <a class="nav-item nav-link" href="#">update: {{ perms.works.change_work }}</a>
                  <a class="nav-item nav-link" href="#">delete: {{ perms.works.delete_work }}</a>
              {% elif request.session.choice == "Original" %}
                  <a class="nav-item nav-link" href="{% url 'home_original' %}">Home</a>
                  <a class="nav-item nav-link" href="#">add:{{ perms.original.add_oldwork }}</a>
                  <a class="nav-item nav-link" href="#">update: {{ perms.original.change_oldwork }}</a>
                  <a class="nav-item nav-link" href="#">delete: {{ perms.original.delete_oldwork }}</a>
              {% endif %}
          {% endif %}
        </div>
          <!-- Navbar Right Side -->
        <div class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
              {% if not request.session.choice or request.session.choice == "Works" %}
                  <a class="nav-item nav-link" href="{% url 'download_works' %}">Download</a>
                  {% if request.user.is_superuser %}
                      <a class="nav-item nav-link" href="{% url 'upload_works' %}">Upload</a>
                  {% endif %}
              {% elif request.session.choice == "Original" %}
                  <a class="nav-item nav-link" href="{% url 'download_old_works' %}">Download</a>
                  <a class="nav-item nav-link" href="{% url 'upload_old_works' %}">Upload</a>
            {% else %}
                  <a class="nav-item nav-link" href="{% url 'download_contacts' %}">Download</a>
                  {% if request.user.is_superuser %}
                      <a class="nav-item nav-link" href="{% url 'load_contacts' %}">Upload</a>
                  {% endif %}
              {% endif %}
               <a class="nav-item nav-link" href="{% url 'logout' %}">Log out</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Log in</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        </div>
      </div>
      {% block content %}{% endblock %}


     <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <img class="modal-body" src="">
        </div>
      </div>
    </div>

    <script>
      $('#imageModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var image_id = button.data('image_id') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('.modal-body').attr("src", image_id)
    })

    </script>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>